*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Manrope', sans-serif;
    background-color: #1f2632;

    
}

.container {
    width: 540px;
    height: 364px;
    margin: 50px auto;
    text-align: center;
}

.card {
    width: 540px;
    height: 332px;
    background-color: #313A48;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    color: #53FFAA;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4.086px;
}

.card p {
    color: #CEE3E9;
    text-align: center;
    width: 444px;
    max-height: 124px;
    margin: 20px auto ;
    font-size: 28px;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.3px;
    overflow: auto;
}

.desktop {
    visibility: visible;
}

.mobile {
    visibility: hidden;
}

.button {
    margin: -40px auto;
}

.button button {
    border: none;
    border-radius: 50%;
    padding: 20px;
    background-color: #53FFAA;
    outline: none;
}

.button button:hover {
    box-shadow: 0 0 35px #53FFAA;
}


@media (max-width : 441px) {

    .container {
        width: auto;
        height: 347px;
        text-align: center;
    }
    
    .card {
        width: 343px;
        height: 315px;
        background-color: #313A48;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        margin: 0 auto;
    
    }

    .card p {
        color: #CEE3E9;
        text-align: center;
        width: 295px;
        max-height: 132px;
        margin: 20px auto ;
        font-size: 24px;
        font-weight: 800;
        line-height: normal;
        letter-spacing: -0.257px;
        overflow: auto;
    }

    .desktop {
        display: none;
    }
    .mobile {
        visibility: visible;
    }



}